* {
    margin: 0;
}

.cover-section {
    position: relative;
    text-align: center;
}

.cover-text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 1px 1px 2px black;
}

.divider {
    width: 90%;
    height: 0.2%;
    background-color: lightgrey;

}

/* Subscription page begins */

/* part 1 begins */

.container1 {
    margin-top: 5%;
}

.sub-head-txt {
    text-align: center;
}

.section-1 {
    display: flex;
    margin-left: 8%;
    /* margin-right: 27%; */
    width: 70%;
}

.section-2 {
    display: flex;
    margin-left: 8%;
    /* margin-right: 27%; */
    width: 50%;
}

.section1-p1 {
    display: flex;
}

.section1-p2 {
    display: flex;
}

.sub-container {
    background-color: #F8F8F8;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    
}

.sub-form-1 {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 8%;
    padding-left: 7%;
    height: 70vh;
    width: 95vw;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgb(180, 179, 179);
    background-color: white;

    /* margin-left: 3%; */
}

.pref-btn-1 {
    margin-right: 1.5%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 40vw;
    background-color: white;
    border-radius: 10px;
}

.pref-btn-2 {
    margin-left: 1.5%;
    /* margin-right: 2%; */
    padding-top: 3%;
    padding-bottom: 3%;
    width: 40vw;
    background-color: white;
    border-radius: 10px;
}

.pref-btn-3 {
    margin-top: 2%;
    margin-right: 1.5%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 40vw;
    background-color: white;
    border-radius: 10px;
}

.pref-btn-4 {
    margin-left: 1.5%;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 40vw;
    background-color: white;
    border-radius: 10px;
}

.pref-btn-1:hover {
    border-radius: 10px;
    border: 3px solid #32C17F;
}

.pref-btn-2:hover {
    border-radius: 10px;
    border: 3px solid #32C17F;
}
.pref-btn-3:hover {
    border-radius: 10px;
    border: 3px solid #32C17F;
}
.pref-btn-4:hover {
    border-radius: 10px;
    border: 3px solid #32C17F;
}

/* part 1 ends */

.week-selection {
    display: flex;
    margin-top: 5%;
    margin-left: 10.5%;
    margin-left: 2%;
    text-align: center;
    border-radius: 10px;
    /* width: 90%; */
}

.meal-per-week1 {
    border: 1px solid black;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 15vw;
    color: #067A46;
    background-color: white;
}
.meal-per-week2 {
    border: 1px solid black;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 15vw;
    color: #067A46;
    background-color: white;
}
.meal-per-week3 {
    border: 1px solid black;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 15vw;
    color: #067A46;
    background-color: white;
}
.meal-per-week4 {
    border: 1px solid black;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 15vw;
    color: #067A46;
    background-color: white;
}
.meal-per-week5 {
    border: 1px solid black;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 15vw;
    color: #067A46;
    background-color: white;
}

.meal-per-week1:hover {
    background-color: #067A46;
    color: white;
}
.meal-per-week2:hover {
    background-color: #067A46;
    color: white;
}
.meal-per-week3:hover {
    background-color: #067A46;
    color: white;
}

.meal-per-week4:hover {
    background-color: #067A46;
    color: white;
}
.meal-per-week5:hover {
    background-color: #067A46;
    color: white;
}
/* subscription ends */

.signup-container {
    background-color: #F8F8F8;
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    
}

.order-form {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 8%;
    padding-left: 10%;
    height: 100vh;
    width: 95vw;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgb(180, 179, 179);
    background-color: white;
}

.signup-form {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
    padding-top: 8%;
    padding-left: 10%;
    height: 60vh;
    width: 95vw;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px rgb(180, 179, 179);
    background-color: white;

    /* margin-left: 3%; */
}

.signup-form-label {
    margin-bottom: 5%;
}

.email-input-field {
    border-top: none;
    border-left: none;
    border-right: none;
    margin-bottom: 8%;
}

@media only screen and (min-width: 850px) {
    .signup-form {
        margin-left: auto;
        margin-right: auto;
        width: 800px;
    }

    .sub-form-1 {
        margin-left: auto;
        margin-right: auto;
        width: 800px;
    }
}

@media only screen and (max-width: 731px) {
    .signup-form {
        margin-left: auto;
        margin-right: auto;
        width: 700px;
    }

    .sub-form-1 {
        margin-left: auto;
        margin-right: auto;
        width: 700px;
    }
}




